.button.warning {
  color: black;
  background: coral;
  box-shadow: 0 5px 0 coral;
  border-bottom: 2px solid #f54504;
  margin: 20px 0; }
  .button.warning:hover {
    color: black;
    background: coral;
    box-shadow: 0 5px 0 coral;
    border-bottom: 2px solid #f54504;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
