.button {
  display: inline-block;
  padding: 15px;
  margin-right: 5px;
  height: 50px;
  min-width: 130px;
  background: #6495ed;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  line-height: 1px;
  box-shadow: 0 5px 0px cornflowerblue;
  border-bottom: 2px solid #568ceb; }
  .button .loader-container {
    display: inline-block;
    margin-left: 10px; }
  .button:hover {
    background: #4d85ea;
    box-shadow: 0 4px 1px #4d85ea;
    border-bottom: 2px solid #3f7ce9;
    transition: all 0.1s ease-in; }
  .button:active {
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none; }
