@import "variables.scss";
@import "button.scss";
body {
	background: $green;
	font-family: 'Pacifico', cursive;
	letter-spacing: 2px;
	font-weight: 100;
	margin: 0 0 30px 0;
	text-align: center;
}

textarea {
	border: 2px solid $blue;
	border-radius: 5px;
	font-family: sans-serif;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	display: block;
}

.rating-helper {
	font-size: 0.7em;
}

.notes-container {
	padding: 0px 10px;
	text-align: left;
	border-bottom: 2px solid $blue;
	.add {
		padding: 10px;
		display: block;
	}

	&.text {
		border-top: 2px solid $blue;
	}
	&.sleep {
		.rating {
			display: block;
			margin: auto;
			text-align: center;
			font-family: sans-serif;
			letter-spacing: 0;
		}
	}
	&.work {
		margin-bottom: 10px;
		.rating {
			display: block;
			margin: auto;
			text-align: center;
			font-family: sans-serif;
			letter-spacing: 0;
		}
	}
}

.header {
	height: 4em;
	background: $yellow;
	border-bottom: 2px solid $blue;
}

#home {
	input {
		width: 5rem;
		height: 5rem;
		font-size: 3rem;
	}
}

input {
	border: 2px solid $blue;
	border-radius: 5px;
	font-family: sans-serif;
	text-align: center;
	font-size: 1.2em;
}

.react-datepicker-wrapper {
	margin-bottom: 20px;
}

.last-logged {
	display: block;
	margin-top: 30px;
}